@use '@angular/material' as mat;

$md-primary: (
    50 : #e8f6f2,
    100 : #c5e9e0,
    200 : #9fdbcb,
    300 : #79ccb6,
    400 : #5cc1a6,
    500 : #3fb696,
    600 : #39af8e,
    700 : #31a683,
    800 : #299e79,
    900 : #1b8e68,
    A100 : #c7ffeb,
    A200 : #94ffd8,
    A400 : #61ffc6,
    A700 : #47ffbd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #f5f5ea,
    100 : #e6e6ca,
    200 : #d5d6a6,
    300 : #c4c582,
    400 : #b8b868,
    500 : #abac4d,
    600 : #a4a546,
    700 : #9a9b3d,
    800 : #919234,
    900 : #808225,
    A100 : #feffc3,
    A200 : #fdff90,
    A400 : #fcff5d,
    A700 : #fbff43,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

